<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Welcome to Zignee!</title>
  </head>
  <body class="bg-neutral h-screen text-primary w-full p-10">
    <header class="flex justify-evenly p-4 items-center">
      <img src="/images/zignee-logo.png" alt="Zignee logo" class="w-40" />
      <a
        href="/dashboard/logout"
        class="btn btn-accent px-2 py-2 rounded border border-base-100"
        >Logout</a
      >
    </header>
    <main
      class="flex justify-evenly items-center border-1 rounded border-accent shadow-2xl p-10 h-fit"
    >
      <section>
        <h2 class="font-bold">Your Packages</h2>
      </section>
      <section>
        <section class="flex gap-4 text-center">
          <div class="border-2 border-base-100 shadow-lg rounded">
            <p class="p-3 flex justify-center text-xl"><%= currentMonth %></p>
            <p class="p-3 flex justify-center text-2xl font-bold">
              <%= new Date().getDate() %>
            </p>
            <p class="p-3 flex justify-center text-xl">
              <%= new Date().getFullYear() %>
            </p>
          </div>
          <div class="border-2 border-base-100 shadow-lg rounded">
            <h3>Hello, !</h3>
            <p class="p-6 max-w-xl">
              When filling the following form you are virtually signing for the
              package and agreeing for your carrier to deliver the parcel in the
              specified location.
            </p>
          </div>
        </section>
        <form action="addPackage" class="flex flex-col py-6 gap-4">
          <label class="text-center text-2xl">Add a package</label>
          <input
            type="text"
            placeholder="Tracking Number"
            class="border border-base-100 rounded-2xl p-2"
          />
          <input
            type="text"
            placeholder="Address"
            class="border border-base-100 rounded-2xl p-2"
          />
          <input
            type="text"
            placeholder="Leave at Mailbox, door, etc.."
            class="border border-base-100 rounded-2xl p-2"
          />
          <input
            type="text"
            placeholder="Signature"
            class="border border-base-100 rounded-2xl p-2"
          />
          <button
            class="btn btn-accent btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl mt-2"
            type="submit"
          >
            Add Package
          </button>
        </form>
      </section>
    </main>
    <script src="/public/js/main.js"></script>
  </body>
</html>
