<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Welcome to Zignee!</title>
  </head>
  <body class="bg-neutral flex justify-center items-center h-screen">
    <h1>Hello, !</h1>
    <section class="">
      <h2>Your dashboard</h2>
      <a href="/dashboard/logout" class="border-2 p-2">Logout</a>
    </section>
    <script src="/public/js/main.js"></script>
  </body>
</html>
