<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Zignee</title>
  </head>
  <body>
    <main class="login">
      <section class="login-text log-sec">
        <h2>Welcome!</h2>
        <p>
          Always on the run and never home? You paid express or priority
          delivery for a package or letter but you are not going to be home?
          Avoid going to your carrier facility qand wasting time and money. Just
          sign for it here and let the carrier know where you want it delivered.
        </p>
      </section>
      <section class="login-btns log-sec">
        <h1>Sign Up</h1>
        <ul>
          <li>Customer</li>
          <li>Carrier</li>
        </ul>
      </section>
    </main>
    <script src="/public/js/main.js"></script>
  </body>
</html>
