<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Zignee</title>
  </head>
  <body class="bg-neutral flex justify-center items-center h-screen">
    <div class="flex flex-col items-center text-center px-4 w-full max-w-6xl">
      <img src="/images/zignee-logo.png" alt="Zignee Logo" />

      <div class="flex flex-col md:flex-row items-center justify-center gap-10">
        <div class="flex justify-center w-full md:w-1/2">
          <img
            src="/images/package.jpeg"
            alt="login"
            class="h-auto rounded-xl shadow-md w-100"
          />
        </div>

        <main
          class="flex flex-col items-center justify-center p-10 bg-secondary rounded-xl shadow w-full md:w-1/2"
        >
          <section class="text-primary mb-8 w-full">
            <p>
              Always on the go and rarely home? If you’ve paid for express or
              priority delivery but won’t be available to receive your package,
              avoid the hassle of visiting a carrier facility. Simply sign for
              it here and let your carrier know where you’d like it delivered.
            </p>
          </section>

          <section class="login-btns log-sec">
            <ul class="flex gap-5">
              <li>
                <a
                  href="/user/login"
                  class="btn btn-accent btn-sm md:btn-md lg:btn-lg"
                  >Login</a
                >
              </li>
              <li>
                <a
                  href="/user/signup"
                  class="btn btn-accent btn-sm md:btn-md lg:btn-lg"
                  >Sign Up</a
                >
              </li>
            </ul>
          </section>
        </main>
      </div>
    </div>
    <script src="/public/js/main.js"></script>
  </body>
</html>
