<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Zignee</title>
  </head>
  <body class="bg-accent">
    <header>
      <h1>Zignee</h1>
    </header>
    <main class="flex">
      <section>
        <h2>Welcome!</h2>
        <p>
          Always on the go and rarely home? If you’ve paid for express or
          priority delivery but won’t be available to receive your package,
          avoid the hassle of visiting a carrier facility. Simply sign for it
          here and let your carrier know where you’d like it delivered.
        </p>
      </section>
      <section class="login-btns log-sec">
        <h1>Login</h1>
        <ul>
          <a href="/user/login" class="btn btn-primary">Login</a>
          <a href="/user/signup" class="btn btn-primary">Sign Up</a>
        </ul>
      </section>
    </main>
    <script src="/public/js/main.js"></script>
  </body>
</html>
