<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Zignee</title>
  </head>
  <body class="bg-neutral h-screen flex items-center justify-center">
    <main class="text-center flex flex-col justify-center items-center">
      <h1 class="text-5xl container mx-auto text-primary py-5">Zignee</h1>
      <section class="bg-secondary max-w-1/3 p-10 text-center my-10">
        <p class="text-primary">
          Always on the go and rarely home? If you’ve paid for express or
          priority delivery but won’t be available to receive your package,
          avoid the hassle of visiting a carrier facility. Simply sign for it
          here and let your carrier know where you’d like it delivered.
        </p>
      </section>
      <section class="login-btns log-sec">
        <ul class="flex gap-5">
          <li>
            <a
              href="/user/login"
              class="btn btn-accent btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl"
              >Login</a
            >
          </li>
          <li>
            <a
              href="/user/signup"
              class="btn btn-accent btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl"
              >Sign Up</a
            >
          </li>
        </ul>
      </section>
    </main>
    <script src="/public/js/main.js"></script>
  </body>
</html>
