<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <title>Zignee login</title>
  </head>
  <body>
    <main>
      <section class="login-form">
        <form action="/user/login" method="post">
          <label>Login</label>
          <input type="text" placeholder="Email" name="userEmail" />
          <input type="text" placeholder="Password" name="userPassword" />
          <input type="submit" />
        </form>
      </section>
    </main>
  </body>
</html>
