<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Zignee Signup</title>
  </head>
  <body class="bg-neutral h-screen flex flex-col items-center justify-center">
    <h2 class="text-3xl font-bold py-8 text-primary">Lets Sign Up!</h2>
    <form action="/user/signup" method="POST" class="flex flex-col">
      <div class="flex items-center flex-col gap-2 md:p-10 py-5 md:py-0">
        <label class="text-xl font-medium text-primary" for="username"
          >Username</label
        >
        <input
          type="text"
          class="input input-bordered input-accent w-full max-w-xl text-primary"
          name="username"
          required
        />

        <label class="text-xl font-medium text-primary" for="password"
          >Password</label
        >
        <input
          type="password"
          class="input input-bordered input-accent w-full text-primary"
          name="password"
          required
        />
        <h2 class="text-xl font-medium text-primary">Select</h2>

        <select
          name="customerOrCarrier"
          class="select select-accent w-full max-w-xl text-primary"
          required
        >
          <option disabled selected class="text-primary">Select One</option>
          <option value="Customer">Customer</option>
          <option value="Carrier">Carrier</option>
        </select>
      </div>
      <button
        class="btn btn-accent btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl mt-10"
        type="submit"
      >
        Create Account
      </button>
    </form>
  </body>
</html>
