<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zignee Signup</title>
  </head>
  <body>
    <main>
      <section class="signup-form">
        <form action="/user/signup" method="post">
          <label>Signup</label>
          <input type="text" placeholder="Name" name="usersName" />
          <input type="text" placeholder="Last Name" name="usersLastName" />
          <input type="text" placeholder="Email" name="userEmail" />
          <input type="text" placeholder="Password" name="userPassword" />
          <input
            type="text"
            placeholder="Confirm Password"
            name="confirmPassword"
          />
          <input type="submit" />
        </form>
      </section>
    </main>
  </body>
</html>
