* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(22, 59, 82);
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.log-sec {
  flex: 1;
}

.login-text p {
  line-height: 1.4rem;
  font-size: 1.2rem;
  max-width: 40ch;
  margin: auto;
}

.login ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.login ul li {
  border: 2px solid #fff;
  font-size: 1.2rem;
  list-style: none;
  cursor: pointer;
  height: 4rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btns {
}

h1 {
  text-align: center;
  font-size: 2rem;
}