* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(168, 201, 222);
}

.login ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.login ul li {
  border: 2px solid #000;
  color: #df7878;
  text-align: center;
  font-size: 2rem;
  list-style: none;
  cursor: pointer;
  height: 4rem;
  width: 10rem;
}